.markdown pre code {
  background-color: #282C34;
}
.token-line {
  .token {

    // js
    &.imports {
      color: #ABB2BF !important;
    }
    &.string {
      color: #E5C07B !important;
    }
    &.boolean {
      color: #C678DD !important;
    }
    &.keyword {
      color: #56B6C2 !important;
      &.control-flow {
        color: #E06C75 !important;
      }
    }
    &.function {
      color: #98C379 !important;
    }
    &.method.function.property-access {
      color: #98C379 !important;
    }
    &.punctuation {
      color: #E5C07B !important;
    }
    &.parameter {
      color: #D19A66 !important;
      &.punctuation {
        color: #ABB2BF !important;
      }
    }
    &,
    &.parameter,
    &.spread {
      &.operator {
        color: #E06C75 !important;
      }
    }
    &.plain {
      color: #ABB2BF !important;
    }
    &.comment {
      color: #676F7D !important;
    }
    &.number {
      color: #C678DD !important;
    }
    &.property-access {
      color: #56B6C2 !important;
    }

    // html
    &.tag {
      color: #E06C75 !important;
      &.punctuation {
        color: #BBBBBB !important;
      }
      &.attr-name {
        color: #98C379 !important;
      }
      &.attr-value {
        color: #E5C07B !important;
        &.punctuation{
          color: #E5C07B !important;
          &.attr-equals {
            color: #E06C75 !important;
          }
        }
      }
      &.script.language-javascript {
        color: #ABB2BF !important;
        &.script-punctuation.punctuation {
          color: #E06C75 !important;
        }
        &.punctuation {
          color: #C678DD !important;
        }
        &.function {
          color: #61AFEF !important;
        }
        &.keyword {
          color: #56B6C2 !important;
        }
      }
    }

    // css
    &.selector {
      color: #98C379 !important;
      &.parent.important {
        color: #E06C75 !important;
      }
    }
    &.property {
      color: #56B6C2 !important;
    }
    &.unit {
      color: #E06C75 !important;
    }
    &.important {
      color: #E06C75 !important;
    }
    &.hexcode.color {
      color: #C678DD !important;
    }
  }
}