p {
  code {
    font-size: 20px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    background-color: transparent;
    border: none;
  }
}

pre {
  code {
    line-height: 32px;
    font-size: 20px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
  }
}
